* {
  border: 0;
  margin: 0;
}

:root {
  --very-dark: hsl(0, 0%, 19%);
  --rotate-start: rotate(0deg);
  --rotate-end: rotate(360deg);
  --rotating-animation: rotating 2s linear infinite;
  --cubic-bezier: cubic-bezier(0.075, 0.82, 0.165, 1);
}

html {
  height: 100%;
  background-color: black;
}

body {
  height: 100%;
  min-width: 320px;
  min-height: 500px;
  overflow-y: hidden;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: white;
  background-image: none;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,.4);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

main {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 26px 40px 26px;
  transition: margin-top .4s var(--cubic-bezier);
}

aside {
  box-sizing: border-box;
  padding: 48px 26px;
  min-height: 256px;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  color: var(--very-dark);
  display: none;
  flex-direction: column;
}

aside.dark {
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

cite {
  font-style: normal;
}

.hidden {
  display: none;
}

.error {
  color: red;
}

small {
  font-size: 12px;
}

.huge {
  display: inline;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: -2.5px;
}

.bigger {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.big {
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.less-big {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.normal {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

.smaller {
  font-weight: normal;
  font-size: 10px;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button {
  font-weight: bold;
}

.refresh {
  background: none;
  height: fit-content;
  padding-top: 5px;
}

.quote {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.quote__text {
  margin-right: 5px;
}

.author {
  display: block;
  font-weight: bold;
  margin-top: 8px;
}

.greeting {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.greeting img {
  margin-right: 16px;
}

.timezone {
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  margin-left: 5px;
}

.time {
  padding-bottom: 16px;
}

.currently {
  display: none;
}

button.collapse {
  background-color: white;
  margin-top: 48px;
  padding: 13px 47px 12px 17px;
  border-radius: 28px;
  position: relative;
}

button.collapse span {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 3.75px;
  text-transform: uppercase;
  opacity: 0.5;
}

button.collapse::after {
  content: "";
  background-image: url("../assets/desktop/icon-arrow-up.svg");
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 4px;
  right: 4px;
  transform: rotate(180deg);
  transition: transform var(--cubic-bezier) .3s .3s;
}

button.collapse.less::after {
  transform: rotate(0);
}

.info-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.section:last-child .info-group:last-child {
  margin-bottom: 0px;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: var(--rotate-start);
    -o-transform: var(--rotate-start);
    transform: var(--rotate-start);
  }
  to {
    -webkit-transform: var(--rotate-end);
    -o-transform: var(--rotate-end);
    transform: var(--rotate-end);
  }
}
@keyframes rotating {
  from {
    -ms-transform: var(--rotate-start);
    -moz-transform: var(--rotate-start);
    -webkit-transform: var(--rotate-start);
    -o-transform: var(--rotate-start);
    transform: var(--rotate-start);
  }
  to {
    -ms-transform: var(--rotate-end);
    -moz-transform: var(--rotate-end);
    -webkit-transform: var(--rotate-end);
    -o-transform: var(--rotate-end);
    transform: var(--rotate-end);
  }
}

.rotating {
  -webkit-animation: var(--rotating-animation);
  -moz-animation: var(--rotating-animation);
  -ms-animation: var(--rotating-animation);
  -o-animation: var(--rotating-animation);
  animation: var(--rotating-animation);
}


@media (min-width: 700px) {
  body {
    min-height: 700px;
  }

  main {
    padding: 64px;
  }

  .quote {
    max-width: 573px;
    padding-top: 16px;
  }

  cite, small {
    font-size: 18px;
    line-height: 28px;
  }

  .author {
    margin-top: 13px;
  }

  .less-big {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 3.6px;
  }

  .huge {
    font-size: 175px;
    line-height: 175px;
    letter-spacing: -4.375px;
  }

  .timezone {
    font-size: 32px;
    line-height: 28px;
  }

  .big {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 3.6px;
  }

  .currently {
    display: inline;
  }

  button.collapse {
    cursor: pointer;
    margin-top: 80px;
    padding: 15px 47px 13px 21px;
  }

  button.collapse::after {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    top: 8px;
    right: 8px;
  }

  button.collapse span {
    padding-right: 13px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 5px;
  }

  aside {
    padding: 0px 0 0 64px;
    flex-direction: row;
    justify-content: flex-start;
    height: 440px;
    column-gap: 80px;
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info-group {
    flex-direction: column;
    margin-bottom: 0;
  }
  
  .info-group:first-child {
    margin-bottom: 48px;
  }

  .smaller {
    font-size: 13px;
    line-height: 28px;
    letter-spacing: 2.6px;
  }

  .bigger {
    font-size: 40px;
    line-height: 48px;
  }

  .refresh {
    cursor: pointer;
  }
}

@media (min-width: 1140px) {

  .less-big {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 4px;
  }

  .big {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 4.8px;
  }

  .huge {
    font-size: 200px;
    line-height: 200px;
    letter-spacing: -5px;
  }

  .smaller {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 3px;
  }

  .bigger {
    font-size: 56px;
    line-height: 68px;
  }

  .timezone {
    font-size: 40px;
    line-height: 28px;
  }

  main {
    padding: 56px 165px 56px 165px;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  button.collapse {
    height: 56px;
  }

  button.collapse span {
    padding-right: 10px;
  }

  aside {
    column-gap: 0px;
    padding: 0px 71px;
  }

  .section {
    width: 50%;
    padding-left: 94px;
    margin: 74px 0px;
  }

  .section:last-child {
    border-left: 1px solid hsla(0, 0%, 19%, .25);
  }

  .info-group > .smaller {
    margin-bottom: 9px;
  }
}

